/* ======================================================================== *\
 *  File:       index.css                                                   *
 *  Author:     Bill Xia                                                    *
 *  Created:    12/22/22                                                    *
 *                                                                          *
 *  Purpose:    Describes the presentation of the BitCalc program's UI.     *
\* ======================================================================== */

/* ======================================================================== *\
 *  Rule: body                                                              *
 *  Purpose: Defines the formatting of non-calculator components in the     *
 *           BitCalc program.                                               *
\* ======================================================================== */
body {
    background: linear-gradient(to right, violet, orange);
}

/* ======================================================================== *\
 *  Rule: calcUI                                                            *
 *  Purpose: Defines the formatting of the calculator block.                *
\* ======================================================================== */
.calcUI {
    background: #aaaaaa;
    border: 1px solid #666666;
    margin: auto;
    margin-top: 15%;
    padding: 8px;

    width: 432px;
}

/* ======================================================================== *\
 *  Rule: calcUI                                                            *
 *  Purpose: Defines the formatting of the output window.                   *
\* ======================================================================== */
.outputWindow {
    background: #ffffff;

    font-size: medium;
    font-family: "Courier New";
    font-weight: bold;

    margin-bottom: 8px;
    border: 1px solid #666666;
    padding: 8px;
}

/* ======================================================================== *\
 *  Rule: nameTag                                                           *
 *  Purpose: Defines the formatting of the credit tag.                      *
\* ======================================================================== */
.nameTag {
    position: absolute;
    margin: 8px;
    top: 0;
    left: 0;
}

/* ======================================================================== *\
 *  Rule: calcButton                                                        *
 *  Purpose: Defines the formatting of the calculator buttons.              *
\* ======================================================================== */
.calcButton {
    font-size: smaller;
    font-family: "Courier New";
    font-weight: bold;

    text-align: center;

    height: 48px;
    width: 72px;
}

/* ======================================================================== *\
 *  Rule: zeroButton                                                        *
 *  Purpose: Defines the formatting of the 0 button.                        *
\* ======================================================================== */
.zeroButton {
    font-size: smaller;
    font-family: "Courier New";
    font-weight: bold;

    text-align: center;

    height: 48px;
    width: 216px;
}

/* ======================================================================== *\
 *  Rule: changeButton                                                      *
 *  Purpose: Defines the formatting of the +/- button.                      *
\* ======================================================================== */
.changeButton {
    font-size: smaller;
    font-family: "Courier New";
    font-weight: bold;

    text-align: center;

    height: 48px;
    width: 144px;
}

/* ======================================================================== *\
 *  Rule: hexButton                                                         *
 *  Purpose: Defines the formatting of the buttons that are only enabled    *
 *           when the calculator is operating in base 16.                   *
\* ======================================================================== */
.hexButton {
    font-size: smaller;
    font-family: "Courier New";
    font-weight: bold;

    text-align: center;

    height: 48px;
    width: 72px;
}

/* ======================================================================== *\
 *  Rule: decButton                                                         *
 *  Purpose: Defines the formatting of the buttons that are only enabled    *
 *           when the calculator is operating in base 10 or 16.             *
\* ======================================================================== */
.decButton {
    font-size: smaller;
    font-family: "Courier New";
    font-weight: bold;

    text-align: center;

    height: 48px;
    width: 72px;
}
