/*
 * index.css
 * Bill Xia
 * 12/22/22
 *
 * Purpose: Describe the presentation of the BitCalc program's UI.
 */

body {
    background: linear-gradient(to right, violet, orange);
}

/* Defines the formatting of the calculator block. */
.calcUI {
    background: #aaaaaa;
    border: 1px solid #666666;
    margin: auto;
    margin-top: 15%;
    padding: 8px;

    width: 432px;
}

/* Defines the formatting of the output window. */
.outputWindow {
    background: #ffffff;

    font-size: medium;
    font-family: "Courier New";
    font-weight: bold;

    margin-bottom: 8px;
    border: 1px solid #666666;
    padding: 8px;
}

/* 
 * Defines the formatting of button rows with fewer buttons than what's
 * standard.
 */
.shortRow {
    margin-left: 144px;
}

/*
 * Defines the formatting of the nametag below the calculator UI.
 */
.nametag {
    position: absolute;
    margin: 8px;
    top: 0;
    left: 0;
}

/* Defines formatting of the calcButton class. */
.calcButton {
    font-size: smaller;
    font-family: "Courier New";
    font-weight: bold;

    text-align: center;

    height: 48px;
    width: 72px;
}

/*
 * There's definitely a more efficient way of doing this, but here's the
 * formatting of the zero button.
 */

.zeroButton {
    font-size: smaller;
    font-family: "Courier New";
    font-weight: bold;

    text-align: center;

    height: 48px;
    width: 72px;

    margin-right: 72px;
}
